<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/static/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- <div class="form"> -->
        <form action="/predict" method="POST">
          <h1>Mental Fitness Prediction</h1>
          <div class="input-field">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Enter your name"
              required
            />
          </div>
          <div class="inputs">
            <div class="left">
              <div class="input-field">
                <label for="gender">Gender</label>
                <select id="gender" name="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="input-field">
                <label for="country">Country</label>
                <input
                  type="text"
                  name="country"
                  id="country"
                  placeholder="Country"
                  required
                />
              </div>
              <div class="input-field">
                <label for="bipolardisorder">Prevalence of Bipolar Disorder</label>
                <input
                  type="text"
                  name="bipolardisorder"
                  id="bipolardisorder"
                  placeholder="Bipolar Disorder"
                  required
                />
              </div>
              <div class="input-field">
                <label for="anxietydisorder">Prevalence of Anxiety Disorders</label>
                <input
                  type="text"
                  name="anxietydisorder"
                  id="anxietydisorder"
                  placeholder="Anxiety Disorder"
                  required
                />
              </div>
              <div class="input-field">
                <label for="depressivedisorder">Prevalence of Depressive Disorders</label>
                <input
                  type="text"
                  name="depressivedisorder"
                  id="depressivedisorder"
                  placeholder="Depressive Disorder"
                  required
                />
              </div>
            </div>
            <div class="right">
              <div class="input-field">
                <label for="year">Year</label>
                <input
                  type="number"
                  name="year"
                  id="year"
                  placeholder="Year"
                  required
                />
              </div>
              <div class="input-field">
                <label for="scp">Prevalence of Schizophrenia</label>
                <input
                  type="number"
                  name="scp"
                  id="scp"
                  placeholder="Schizophrenia (%)"
                  max="10"
                  min="0"
                  step="0.1"
                  required
                />
              </div>
              <div class="input-field">
                <label for="etd">Prevalence of Eating Disorders</label>
                <input
                  type="number"
                  name="etd"
                  id="etd"
                  placeholder="Eating Disorders (%)"
                  max="10"
                  min="0"
                  step="0.1"
                  required
                />
              </div>
              <div class="input-field">
                <label for="dud">Prevalence of Drug Use Disorders</label>
                <input
                  type="number"
                  name="dud"
                  id="dud"
                  placeholder="Drug Use Disorders (%)"
                  max="10"
                  min="0"
                  step="0.1"
                  required
                />
              </div>
              <div class="input-field">
                <label for="aud">Prevalence of Alcohol Use Disorders</label>
                <input
                  type="number"
                  name="aud"
                  id="aud"
                  placeholder="Alcohol Use Disorders (%)"
                  max="10"
                  min="0"
                  step="0.1"
                  required
                />
              </div>
            </div>
          </div>
          <div class="input-field">
            <!-- <label for="aud">Prevalence of Alcohol Use Disorders (%)</label> -->
            <input class="submit-button"
              type="submit"
              
             value="SUBMIT"
            />
          </div>
        </form>
      <!-- </div> -->
      <div class="image">
        <img src="/static/girlimg.png" alt="" />
      </div>
      
    </div>
    <footer>
    </footer>
  </body>
</html>
